.carousel-container {
    max-width: 70%;
    height: 200px;
    margin: 0 auto; 
    padding: 20px;
  }

  .carousel img {
    border-radius: 10px; 
  }
  
  @media (max-width: 992px) {
    .carousel-container {
      width: 100%;
    }
  }
  