#basic-nav-dropdown{
  color: #3b3b3b !important;
  font-weight: bold !important;
  font-family: "Barlow Bold", sans-serif !important;
}

#submenu {
  font-weight: bold !important;
  margin-bottom: 5px;
  color: #3b3b3b
}

#submenu:hover {
  text-decoration: underline; 
}

#submenu:active {
  background-color: #636363;
}
