.project-section-container {
    /* height: 250vh; */
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;   */
    /* align-items: center; */
    /* object-fit: contain; */
    background-color: #f0f0f0;
    padding: 50px 0;
}

.project-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.project-section-title h1 {
    font-weight: bold;
    color:  #3b3b3b;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.carousel-container:first-child {
    margin-top: 20px; 
}

.carousel-slider {
    flex: 1;
    max-width: 40%;
    height: auto;
    padding: auto;
}

.project-descript {
    flex: 1;
    margin-left: 20px;
    max-width: 60%;
    margin-right: 20px;
}

.project-descript h2 {
    font-size: 1.8em;
    font-weight: bold;
    color:  #3b3b3b;
    margin-bottom: 20px;
}

.project-descript p {
    font-size: 1em;
    margin-bottom: 30px;
}

.project-link {
    text-decoration: none; 
    color: inherit; 
}

.project-link:hover {
    text-decoration: underline; 
    color: #808080; 
}

.other-projects {
    margin-top: 40px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .carousel-container {
        flex-direction: column;
        align-items: center;
        width: 100%;  
        padding: 0 20px; 
    }

    .carousel-slider, .project-descript {
        max-width: 100%;
        margin: 0;
    }

    .project-descript {
        margin-top: 20px;
    }
}